.banner-inner {
  width: 100%;
  background: url("../assets/item12.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: calc(100vh - 100px);
  color: #000;
}
