.header-inner {
  padding-top: 20px;
  width: 1100px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: #1e1f26;

  &:hover {
    color: #1e1f26;
    text-decoration: none;
  }
}

i {
  position: static;
}

.menu-bar {
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: flex-end;
}

.menu-bar_element>a {
  padding: 3px 5px;
  margin-bottom: 0px;
  margin-right: 4px;
  font-size: 14px;
  font-size: bold;

  &:hover {
    text-decoration: none;
    cursor: pointer;
    transition: all 0.5s;
    text-shadow: 0 18px 27px rgba(0, 0, 0, 0.5);
  }
}

ul {
  list-style: none;
}

.logo a {
  font-size: 47px;
  transition: all 0.5s;

  &:hover {
    transition: all 0.5s;
    text-shadow: 0 18px 27px rgba(0, 0, 0, 0.5);
  }
}

.logoIcon {
  height: 123px;
}

.menu-bar_element {
  padding: 5px 10px;
  margin-left: 10px;
  position: relative;
}

i {
  position: absolute;
  top: 10px;
  right: -5px;
}

.icon-move-enter-active {
  transition: all 0.4s ease;
}

.icon-move-leave-active {
  transition: all 0.4s cubic-bezier(1, 0.5, 0.8, 1);
}

.icon-move-enter {
  transform: translateY(10px);
  opacity: 0;
}

.icon-move-leave-to {
  transform: translateY(-10px);
  opacity: 0;
}


.slide-enter-active {
  transition: all 0.4s ease-in;
}

.slide-leave-active {
  transition: all 0.4s ease-out;
}

.slide-enter {
  transform: translateY(-100px);
  opacity: 0;
}

.slide-leave-to {
  transform: translateY(-100px);
  opacity: 0;
}
