.accordeon-inner_content {
  width: 100%;

  .price-list {
    width: 125px;

    .price-list_element {
      width: 40px;
    }
  }

  .maxSizeMiss {
    padding-right: 61px;
  }

  .smallSizeMiss {
    width: 100px;
  }

}

.cart {
  .cart-list_element {
    height: auto;
  }
}
