.calculator-inner_content {
  background: url("../assets/item19.jpg") no-repeat;
  background-position-y: 40%;
  background-size: cover;
  background-attachment: fixed;
}

.calculator-inner_title {
  padding: 15px 0;
  font-size: 25px;
  margin-bottom: 0;
}
